.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.win_height {
	min-height: 100vh;
}

.login_form_margin {
	margin-top: 20vh;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

a.a-card, a.a-card:link, a.a-card:visited, a.a-card:focus, a.a-card:hover, a.a-card:active {
	outline: none;
	text-decoration: none;
	color: #000000;
}

img.profile {
	max-width: 96px;
	max-height: 96px;
	float: left;
}

.drillingCardImg {
	height : 50vh;
}

.testBorder {
	border: #000000 solid 1px;
}