*,
*:before,
*:after {
    box-sizing: border-box;
}

html {
    min-width: 100%;
    min-height: 100%;
    height: 100%;
}

body {
    min-height: 100%;
    height: 100%;
    overflow-y: scroll;
}

.App {
    /* background-color: var(--css-var-bg); */

    background: linear-gradient(180deg, #ffffff 5%, rgba(255, 255, 255, 0) 75%),
        linear-gradient(0deg, #ffffffc7 0%, rgba(255, 255, 255, 0) 35%),
        linear-gradient(100.24deg, #12d73068 0%, #a084caaf 56%);
    background-attachment: fixed;
    /* --css-var-block: #bface0;
    --css-var-title: #a084ca;
    --css-var-other: #a084ca;; */
    min-height: 100vh;
    min-height: 100dvh;
    height: 100%;
    padding: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.mainNavBar {
    border-bottom: 1px solid #cccccc;
    padding-bottom: 4px;
}

.a-link,
.a-link:link,
.a-link:visited,
.a-link:focus,
.a-link:hover,
.a-link:active {
    outline: none;
    text-decoration: none;
    color: #000000;
}

.testBorder {
    border: #000000 solid 1px;
}

div.findPairSelected {
    background: rgb(255, 255, 0);
}

div.findPairCorrect {
    background: rgb(0, 255, 0);
}

button.scrambleItem {
    width: 3em;
    height: 3em;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
