*,
*:before,
*:after {
    box-sizing: border-box;
}

html {
    min-width: 100%;
    min-height: 100%;
}

body {
    min-height: 100%;
    overflow-y: scroll;
}

.App {
    background-color: var(--css-var-bg);
    min-height: 100vh;
    padding: 10px;
}

.mainNavBar {
    padding-bottom: 5px;
    border-bottom: 1px solid black;
}

.win_height {
    min-height: 100vh;
}

.login_form_margin {
    margin-top: 20vh;
}

a.a-link,
a.a-link:link,
a.a-link:visited,
a.a-link:focus,
a.a-link:hover,
a.a-link:active {
    outline: none;
    text-decoration: none;
    color: #000000;
}

img.profile {
    max-width: 96px;
    max-height: 96px;
    float: left;
}

.testBorder {
    border: #000000 solid 1px;
}

div.findPairSelected {
    background: rgb(255, 255, 0);
}

div.findPairCorrect {
    background: rgb(0, 255, 0);
}

button.scrambleItem {
    width: 3em;
    height: 3em;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
