{
    "semi": true,
    "singleQuote": false,
    "tabWidth": 4,
    "useTabs": false,
    "printWidth": 120,
    "endOfLine": "crlf",
    "trailingComma": "all",
    "prettier.withNodeModules": true,
    "plugins": ["@ianvs/prettier-plugin-sort-imports"],
    "importOrder": [
        "^react",
        "",
        "<BUILT_IN_MODULES>",
        "",
        "<THIRD_PARTY_MODULES>",
        "",
        "^[@]",
        "",
        "^[.]",
        "",
        "^assets",
        ".s?css$"
    ],
    "importOrderParserPlugins": ["typescript", "jsx", "decorators-legacy"],
    "importOrderTypeScriptVersion": "5.0.0",
    "importOrderSeparation": true,
    "importOrderSortSpecifiers": true
}
