@use "../Common";

.lesson__card {
    --var-card-img-width: 120px;
    margin: 40px 0;
    padding: 0;
    min-height: 170px;
    height: 170px;
}

.lesson__card-inner {
    @extend .box-shadow-main;

    cursor: pointer;

    padding: 10px;
    background: var(--css-var-card-bg);
    height: 100%;
    position: relative;
}

.lesson__card-title {
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 10px;
    padding-left: 12px;
    padding-right: 12px;
}

.lesson__card-description {
    padding-left: 12px;
    padding-right: 12px;
    max-width: 82%;
}

.lesson__card-img {
    max-height: 120px;
    max-width: var(--var-card-img-width);
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
}

.lesson__card-text-block {
    height: 110px;
    overflow: hidden;

    &.with-img {
        max-width: calc(100% - var(--var-card-img-width) - 42px);
    }
}

.lesson__card-sort {
    position: absolute;
    right: 10px;
    bottom: 0;
    color: #444444;
}
