.fillSpaceExistsDraggable {
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    background-color: white;
    height: fit-content;
}

.fillSpaceExistsDroppable {
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    background-color: white;
    color: #aaaaaa;
    margin-top: 16px;
}

.fillSpaceExistsDroppableNone {
    border-radius: 5px;
    background-color: white;
    margin-top: 16px;
}

.fillSpaceExistsDroppableOver {
    opacity: 50%;
}

.fillSpaceExistsInputs {
    width: 100%;
    min-height: 80px;
}

.classificationColumnTitle {
    font-size: 1.2em;
}

.classificationInputs {
    flex: 1 0;
    min-height: 80px;
    overflow: hidden;
}

.classificationAnswers {
    flex: 1 0 0;
    min-height: 60px;
}

.classificationItem {
    white-space: nowrap;
}
