.s_fillSpaceExists {
    background-color: "#228823";
    width: "min-content";
    border-radius: "1000px 1000px 1000px 1000px";
}

.createSentenceItem {
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    background-color: white;
}

.fillSpaceExistsDraggable {
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    background-color: white;
}

.fillSpaceExistsDroppable {
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    background-color: white;
    color: #aaaaaa;
}

.fillSpaceExistsDroppableNone {
    border-radius: 5px;
    background-color: white;
}

.fillSpaceExistsDroppableOver {
    opacity: 50%;
}

.classificationInputs {
    flex: 1 0;
    min-height: 120px;
    overflow: hidden;
}

.classificationAnswers {
    flex: 1 0 0;
    min-height: 120px;
}

.classificationItem {
    white-space: nowrap;
}
