.pageTitle {
    font-size: 32px;
    padding: 5px 5px 5px 13px;
    background-color: var(--css-var-title);
    min-width: 160px;
    width: fit-content;
    margin: 20px auto;
    text-align: center;
    display: flex;
    border-radius: 2px;
}

.pageTitleBack {
    background-color: #ffffff33;
    border-radius: 4px;

    cursor: pointer;
    margin-right: 10px;
    margin-left: -5px;
}
