.inputFile {
    width: fit-content;
    margin: 0 auto;
}

.inputFileBorderError {
    border: 1px solid #ff0000;
}

.inputFileBorderDefault {
    border: 0.5px solid #000000;
}

.inputFilePrev {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: min(800px, 100%);
    aspect-ratio: 4/3;
    background-color: #ffffff88;
    border-radius: 10px;
    padding: 20px;
    margin: 0 auto;
}

.inputFilePrev:hover {
    background-color: #ffffff66;
}

.inputFilePrev:hover .inputFilePrevEdit {
    opacity: 95%;
}

.inputFilePrevEdit {
    opacity: 75%;
    position: absolute;
    text-shadow: #000000 0 0 10px;
    color: #ffffff;
}

.inputFileEmptyLabel {
    cursor: pointer;
    min-height: 160px;
    min-width: 240px;
    background-color: #ffffff88;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inputFileEmptyLabel:hover {
    opacity: 70%;
}

.inputFilePrevImg {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    border-radius: 10px;
}

.inputFilePrevAudio {
    max-width: 100%;
    width: auto;
    height: 60px;
}
