{
    "db": {
        "url": "mysql+pymysql",
        "username": "username",
        "password": "password",
        "host": "localhost",
        "database": "database_name"
    },
    "uploads": "/home/lm/coding/WEB/VIPonyata/uploads",
    "flask_secret": "super_secret_key!!!",
    "logs_folder": "./logs"
}
