.prevent-select {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.cursor-pointer {
    cursor: pointer;
}

.overflow-wrap-break-word {
    overflow-wrap: break-word;
}

.auth-alter-link {
    color: #5f4b8b;
}

.md-last-pad-zero > :last-child {
    padding-bottom: 0 !important;
    margin-bottom: 0 !important;
    margin-block-end: 0 !important;
}

ruby {
    position: relative;
    display: inline-block;
    color: #f49bd3;
    text-align: center;
    cursor: pointer;
}
ruby:hover {
    color: #ba1c80;
}
ruby:hover rt {
    opacity: 1;
}
rt {
    opacity: 0;
    position: absolute;
    top: -0.5em;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    width: 100%;
    word-break: keep-all;
    // left: 50%;
    // transform: translate(-50%, 0);

    font-size: 0.55em;
    color: #ba1c80;

    line-height: 1;
    vertical-align: top;
}
