.modal-dialog {
    width: 90vw;
    border-radius: var(--bs-modal-inner-border-radius);
    overflow: hidden;
}

.modal-content {
    min-height: 50vh;
    max-height: 90vh;
}

.modal-content-auto-height {
    margin: auto !important;
    min-height: auto !important;
    max-height: auto !important;
}

.modal-content-fullscreen {
    min-height: 100vh !important;
    max-height: 100vh !important;
}

.modal-body {
    overflow-y: scroll;
}

.modal-bg {
    background-color: #eaeaea;
}

.loading-modal-fs {
    width: 100vw;
    height: 100vh;

    top: 0;
    left: 0;
    position: absolute;

    background-color: #00000033;

    display: flex;
    justify-content: center;
    align-items: center;

    overflow: hidden;
}
