.notificationsBlock {
    cursor: pointer;
}

.profileBlock:hover {
    opacity: 80%;
}

.profileImgWrapper {
    width: 48px;
    height: 48px;
}

.profileImgWrapper:hover {
}

.profileImg {
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    object-fit: cover;
}
